<div class="nav-bar">
  <mat-toolbar>
    <span style="margin-left: 10px;">myFlix Movies</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="launchMovies()" class="movie-icon"
      aria-label="icon button with a clapperboard icon">
      <mat-icon>movie_info</mat-icon>
    </button>
    <button mat-icon-button (click)="launchProfile()" class="account-icon"
      aria-label="icon-button with account circle icon">
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-icon-button (click)="logoutUser()" class="logout-icon" aria-label="icon button with logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>