.spacer {
  flex: 1 1 auto;
}

.nav-bar {
  mat-toolbar {
    background-color: #70a1ff;
    height: 75px;
    /* Adjust height as needed */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }
}