.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px; //row gap and column gap
  position: relative;
  top: 100px;
  justify-content: center;
  align-content: center;
}

.mat-card-title {
  word-wrap: break-word;
  max-width: 250px;
}


.movie-card-img {
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 200px;
  height: 300px;
}

.movie-card-img:hover {
  cursor: pointer;
  opacity: 80%;
}